<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>EmsProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SaveController</display-name>
		<servlet-name>SaveController</servlet-name>
		<servlet-class>com.ciq.rms.controller.EmployeeSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveController</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FindAllController</display-name>
		<servlet-name>FindAllController</servlet-name>
		<servlet-class>com.ciq.rms.controller.EmployeeFindAllController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindAllController</servlet-name>
		<url-pattern>/findAll</url-pattern>
	</servlet-mapping>
</web-app>